<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.nineone.nocm.mapper.file">
    <insert id="saveFile">
        insert file(original_name, server_name, path, extension, message_id,file_size)
            values (#{original_name}, #{server_name}, #{path}, #{extension}, #{message_id}, #{file_size})
    </insert>

    <select id="getFile" resultType="com.nineone.nocm.domain.ContentsFile">
    	select * from file where server_name = #{server_name}
    </select>


	<sql id="fileSql">
        ( SELECT MESSAGE.SEND_DATE
            FROM MESSAGE
            JOIN FILE
              ON FILE.MESSAGE_ID = MESSAGE.ID
           WHERE FILE.ID = #{cursorId})
    </sql>

    <select id="getChannelFileList" resultType="com.nineone.nocm.domain.ContentsFile">
        <!-- SELECT * FROM FILE F
        JOIN MESSAGE M
        ON F.MESSAGE_ID = M.ID
        WHERE M.CHANNEL_ID = #{channel_id} AND M.DELETE_YN = 'N' -->




        SELECT *
          FROM FILE F
          JOIN MESSAGE M
            ON F.MESSAGE_ID = M.ID
         WHERE M.CHANNEL_ID = #{channel_id}
           AND M.DELETE_YN = 'N'
		<if test="first.equals(false)">
		   AND ( M.SEND_DATE <![CDATA[<]]>
		   <include refid="fileSql"/>
		    OR ( M.SEND_DATE =
		   <include refid="fileSql"/>
		   AND F.ID <![CDATA[<]]> #{cursorId}))
		</if>
      ORDER BY M.SEND_DATE DESC , M.ID DESC LIMIT 30
    </select>


    <!-- 커서기반 스크롤페이징 쿼리 테스트 아직 안해봄 -->
    <!-- SELECT *
          FROM FILE F
     	  JOIN MESSAGE M
            ON F.MESSAGE_ID = M.ID
         WHERE M.CHANNEL_ID = #{channel_id} AND M.DELETE_YN = 'N'
           <if test="first.equals(false)">
           AND ( SEND_DATE <![CDATA[<]]>
		   <include refid="com.nineone.nocm.mapper.message.messageSql"/>
 			OR ( SEND_DATE = <include refid="com.nineone.nocm.mapper.message.messageSql"/>
 		   AND ID <![CDATA[<]]> #{cursorId} ) )
           </if>
      ORDER BY M.SEND_DATE DESC
             , F.ID DESC
         LIMIT 30 -->
</mapper>
