.myflex{
    display:flex !important;
}

.info-wrapper th,
.verti-align {
    display: flex;
    align-items: center;
}

.info-wrapper table,
  .hori-align {
    display: flex;
    justify-content: center;
}

.cetered-align {
    display: flex;
    align-items: center;
    justify-content: center;
}

.msgflex-end{
    justify-content: flex-end;
}

.txt-ellipsis{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}