.myflex{
    display:flex !important;
}

.info-wrapper th,
.verti-align {
    display: flex;
    align-items: center;
}

.info-wrapper table,
  .hori-align {
    display: flex;
    justify-content: center;
}

.cetered-align {
    display: flex;
    align-items: center;
    justify-content: center;
}

.msgflex-end{
    justify-content: flex-end;
}



.myflex-column {
    display: flex;
    flex-direction: column;
}
.myflex-grow{
    flex-grow: 1;
}

.txt-ellipsis{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.myflex-nowrap{
    flex-wrap: nowrap;
}